td{
    width: 25px;
    height: 25px;
}
.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr ;
}

#display{
    display:flex;
    justify-content: center;
    grid-area: "disp";
}

#size,#resolution{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 3em;
}

#size{
    position: relative;
    grid-area: "size";
}

#size div{
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
}

#selector{
    border: 10px solid #49005a;
    position: absolute;
    width: 100%;
    height: 2em;
    transition: 1s;
}

#resolution{
    margin-top: 1em;
}

table{
    min-width: 399px;
    max-height: 399px;
}

@media (max-width:966px){
   .container{
    display: flex;
    flex-direction: column-reverse;
   }
   #selector{
    width: 90%;
    left : 4%
   }
}

@media (max-width:510px){
    td{
        width: 20px;
        height: 20px;
    }
}